/************VARIABLE**************/

:root{
  --orange : #d97653;
  --or : #f0c575;
  --blue-dark : #2575A6;
  --blue-light-1 : #E3F4FF;
  --blue-light-2 : #E9F1F6;
  --blue-light-3 : #67C3F3;
  --blue-light-4 : #5A98F2;
}

@font-face {
  font-family: myRoboto;
  src: url('./assets/font-family/roboto-condensed.regular.ttf');
}

@font-face {
  font-family: myMontserrat;
  src: url('./assets/font-family/montserrat.regular.ttf');
}

@font-face {
  font-family: myAbhayaLibre;
  src: url('./assets/font-family/abhaya-libre.regular.ttf');
}

@font-face {
  font-family: myPoppins;
  src: url('./assets/font-family/poppins.regular.ttf');
}
/************FIN VARIABLE*******************/

html, body {
  height: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  margin-top: 150px;
}

.background-1, .background-2 {
  position: absolute;
  top: -100px;
  z-index: -1;
  left: 0;
}

.background-2 {
  top: 800px;
}

.my-container{
  display: grid;
  grid-template-columns: 0.5fr 3fr 0.5fr;
}

.grid{
  grid-column: 2;
}

.button, .button2{
  background-color: var(--blue-dark);
  border: none;
  color: white;
  padding: 5px 30px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
  font-family: myMontserrat ;
}

.button2 {
  background-color: white;
  color: var(--orange);
}

.button:hover,
.button2:hover{
  transform: scale(1.05);
}

.button-whatsapp {
  position: fixed;
  z-index: 100;
  bottom: 30px;
  right: 10px;
  text-decoration: none;
  background-color: rgb(36, 198, 36);
  font-size:18px;
}

.title-section {
  position: relative;
  text-align: center;
  display: inline-block;
  margin-bottom: 50px;
  font-family: myAbhayaLibre;
  font-weight: 700;
  font-size: 36px;
}

.title-section::after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 1px;
  background-color: currentColor;
  position: absolute;
  bottom: -5px;
  left: 25%;
}

.subtitle-section {
  color: var(--blue-dark);
  font-weight: 400;
  font-size: 18px;
  font-family: myMontserrat;
}

@media (max-width: 768px) {
  .my-container{
    grid-template-columns: 0.15fr 3fr 0.15fr;
  }

  .background-1, .background-2 {
    top: 100px;
    z-index: -1;
    left: 0;
  }

  .background-2 {
    top: 975px;
  }
}