  /************VARIABLE**************/
:root{
  --orange : #d97653;
  --or : #f0c575;
}

html, body{
  height: auto;
  margin: 0;
  padding: 0;
}

body{
    margin-top: 100px;
}

.my-container{
  display: grid;
  grid-template-columns: 0.5fr 3fr 0.5fr;
}

.grid{
  grid-column: 2;
}

.button, .button2{
  background-color: var(--orange);
  border: none;
  color: white;
  padding: 5px 30px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
}

.button2 {
  background-color: white;
  color: var(--orange);
}

.button:hover,
.button2:hover{
  transform: scale(1.05);
}

.button-whatsapp {
  position: fixed;
  z-index: 100;
  bottom: 30px;
  right: 10px;
  text-decoration: none;
  background-color: rgb(36, 198, 36);
}

.button-whatsapp:hover{
  color: white;
}

/***********HEADER***************/

header{
  width: 100%;
  height: 100px;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 100;
}

.menu-phone {
  color: var(--orange);
  font-size: 30px;
  display: none;
}

.logo {
  height: 80px;
  width: 80px;
  cursor: pointer;
}

header nav ul {
  list-style: none;
}

header a{
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.contact-us {
  display: none;
  text-decoration: none;
  background-color: var(--or);
}

.contact-us:hover {
  color: white;
}

header a:hover{
  color: white;
}

.menu-item {
  color: var(--orange) !important;
  font-weight: 700;
  padding: 7px;
  text-decoration: none;
}

.active, .menu-item:hover {
  background-color: var(--orange);
  border-radius: 20px;
  color: white !important;
}

/******FIN HEADER*********/

/********HERO SECTION*************/

.hero-section {
  height: auto;
  background-color: var(--orange);
  border-radius: 20px;
  padding: 20px;
}

.hero-section img{
  width:300px;
  height:280px;
  border-radius:10px;
}

.hero-presentation {
  color: var(--white);
  width: 70%;
  color: white;
}

.hero-presentation h1 {
  color: var(--or);
  margin: 0;
}

/******FIN HERO SECTION*********/

/******ABOUT SECTION********/
.about-text {
  padding: 20px;
  border-left: 5px solid var(--orange);
  border-top: 2px solid var(--orange);
  border-radius: 20px;
}

.about-image img {
  width: 100%;
  height: var(--height-img-box);
  border-radius: 20px;
}

.about-text ul {
  text-decoration: none;
  list-style: none;
}

.about-text ul li i{
  margin-right: 10px;
}

/********FIN ABOUT SECTION*********/

/******OFFER SECTION********/

.goal-section {
  margin-bottom: 50px;
}

.goal-text {
  padding: 20px;
  border-right: 5px solid var(--orange);
  border-bottom: 2px solid var(--orange);
  border-radius: 20px;
}

.goal-text ul {
  text-decoration: none;
  list-style: none;
}

.goal-text ul li i {
  margin-right: 10px;
}

.goal-image img {
  width: 100%;
  height: var(--height-img-box);
  border-radius: 10px;
}

/********FIN OFFER SECTION*********/

/******PARTNER SECTION********/

.partner-section > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/********FIN PARTNER SECTION*********/

/*******BOX**********/
.box {
  border-radius: 20px;
}

.box-title {
  color: var(--orange);
}

.box-text {
  color: black ;
}

/******FIN BOX*******/

/*********TEAM SECTION***********/

.team-item{
  border-radius: 20px;
  overflow: hidden;
}

.team-item .card-img{
  background-color: var(--orange);
}

.team-item img{
  width: 75%;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
}

.team-item-role{
  color: var(--orange)
}

/*********FIN TEAM SECTION*********/

/*********TESTIMONIAL SECTION**********/
.testimonials{
  text-align: center;
}

/*********FIN TESTIMONIAL SECTION********/

/*********CONTACT********/

.contact-info-container{
  border-radius: 20px;
  height: 250px;
}

.contact-info-container p{
  color: var(--orange);
  font-size: 25px;
}

.contact-icon{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: var(--orange);
  color: white;
  font-weight: 700;
  font-size: 20px;
}

.contact-icon i{
  font-size: 50px;
}

.contact-form{
  border-radius: 20px;
}

.form-btn {
  width: 100% !important;
  font-size: 20px;
}

/*******FIN CONTACT*******/


/**********OFFERSECTION**************/
.card {
  border-radius: 20px;
  overflow: hidden;
}

.card-offer .card-header {
  background-color: var(--orange);
  color: white;
}

.card-offer .card-text ul {
  list-style: none;
}

.button-offer {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

/**********FIN OFFERSECTION************/

/********FOOTER*********/
.footer {
  background-color: var(--orange);
  color: white;
  font-weight: 700;
  padding: 3px;
}

.footer-item {
  display: flex;
  flex-direction: column;
}

.footer a {
  margin: 0.5rem 0;
  color: white;
  text-decoration: none;
}

.newsletter form {
  padding: 2px;
  overflow: hidden;
  border-radius: 3px;
  background-color: var(--or);
}

.newsletter form input{
  border: none;
  outline: none;
}

.newsletter form input:focus {
  border: 1px solid var(--or);
  outline: none;
}

.newsletter form button {
  border: none;
  color: white;
  background-color: var(--or);
}

/*********FIN FOOTER**********/

/**********RESPONSIVE DESIGN*************/
@media (max-width: 1300px) {
  .menu-pc {
    display: none;
  }

  .menu-phone {
    display: block;
  }

  .contact-us {
    display: block;
    position: fixed;
    bottom: 70px;
    right: 20px;
    z-index: 100;
  }
}

@media (max-width: 768px) {
  .my-container{
    grid-template-columns: 0.15fr 3fr 0.15fr;
  }
  .footer > div{
    flex-direction: column;
  }

  .hero-section{
    flex-direction: column;
  }

  .hero-section img{
    width: 100%;
    height: 400px;
  }

  .hero-presentation{
    width: 100%;
  }
}

@media (max-width: 450px) {
  .my-container {
    grid-template-columns: 0.15fr 3fr 0.15fr;
  }
}